$primary: rgb(255, 73, 73);
$secondary: rgb(167, 39, 39);
$tertiary: rgb(27, 37, 94);
$white: #fff;


$colors: ("primary": $primary,
  "secondary": $secondary,
  "tertiary": $tertiary,
  "white": $white);


@each $colorName,
$colorValue in $colors {
  .#{$colorName} {
    background: $colorValue;
  }

  .#{$colorName}--text {
    color: $colorValue;
  }
}

.primary-gradient {
  background: linear-gradient($primary, $secondary);
  color: white
}