@import './defaults.scss';
@import './colors.scss';

@import './button.scss';

@import 'https://fonts.googleapis.com/css2?family=Berkshire+Swash&family=Raleway&display=swap';

@font-face {
  font-family: 'Colgate Ready Bold';
  src: url('../fonts/colgateready-bold-webfont.ttf')
}

@font-face {
  font-family: 'Colgate Ready';
  src: url('../fonts/colgateready-regular-webfont.ttf')
}

html {
  font-family: Colgate Ready;
}

main {
  min-height: 100vh
}

.colgate-font {
  font-family: Colgate Ready;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Colgate Ready;
}